
header{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) ;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }

  header select{
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 2px 5px;
    cursor: pointer;
  }

  select {
    background-color: rgb(40,156,244);
    color: white;
    font-weight: 700;
  }
    
  header select:focus{
    outline: none;
  }

  header h2 {
    color:rgb(0, 229, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 5px 5px 25px lightblue, -5px -5px 25px lightblue;
  }

  header .cityAndDate {
    width: 90px;
    margin: 10px;
    text-align: center;
  }
